{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Online Shopping Mall{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">OSM</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto mt-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-item nav-link active" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'login_page' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link disabled" href="{% url 'signup' %}">Sign up</a>
            </li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
    <h1>Online Shopping Mall</h1>
      <hr>
</head>
<body>
    {% block subheader %}
        <div id="header" class="mx-2">
            <a href="{% url 'new-store' %}" class="btn btn-primary">New Shop</a>
        </div>
        {% if user.is_authenticated %}
            {{ store }}
            {% if user == store.store_owner %}
                <div id="header" class="ml-4">
                    <a href="{% url 'order-list' store.id %}" class="btn btn-primary">View Orders</a>
                </div>
            {% endif %}
        {% endif %}
    <div id="subheader">
    {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>