{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {% if store %}{{ store.name }}{% else %}Products{% endif %}
{% endblock %}

{% block subheader %}
    <div id="subheader">
        <div class="row">
            {% if store.store_owner == user %}
                <div>
                    <a class="btn btn-primary p-2" href="{% url 'store-edit' store.id %}">Edit Store</a>
                </div>
            {% endif %}
            <div class="cart p-2">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        Cart:
                        <a href="{% url 'cart_detail' store.id %}">
                            {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                        </a>
                    {% else %}
                        Your cart is empty.
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <table class="table table-borderless table-striped">
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Paid</th>
          <th scope="col">Store</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for order in object_list %}
        <tr>
          <th scope="row">{{ oder.id }}</th>
          <td>{{ order.first_name }}</td>
          <td>{{ order.last_name }}</td>
          <td>{{ email.email }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.city }}</td>
          <td>{{ order.paid }}</td>
          <td>{{ order.paid }}</td>
          <td>
              <a class="btn btn-primary" href="{% url 'order-update' order.id %}">
                <i class="fas fa-edit"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}